body
{
	width:				17em;
}

a
{
	color:				black;
}

.part
{
	margin-top:			1em;
	margin-bottom:		1em;
	border-top:			1px solid black;
}

/*
********************************************************************************
*** HEADER
********************************************************************************
*/

h1
{
	text-align:			center;
	font-size:			1.2em;
}

h2
{
	font-size:			1em;
	text-align:			center;
	font-weight:		normal;
}

/*
********************************************************************************
*** STATS
********************************************************************************
*/

#stats
{
	width:				100%;
}

#stats tr
{
	width:				33%;
}

#stats td
{
	text-align:			center;
}

.stat
{
	margin-top:			0.5em;
	font-size:			2em;
}

.value
{
	font-weight:		bold;
}

.unit
{
	font-weight:		normal;
}

/*
********************************************************************************
*** GRAPH
********************************************************************************
*/

#graph
{
	margin-top:			1em;
	margin-bottom:		1em;
	display:			flex;
	flex-direction:		row;
	justify-content:	space-between;
	align-items:		flex-end;
}

.graph_row
{
	width:				2em;
	text-align:			center;
	font-size:			0.8em;
}

.graph_bar
{
	height:				50px;
	margin-bottom:		0.5em;
}

.graph_day
{
}

.graph_value
{
}

button
{
	display:			block;
	margin:				auto;
	margin-top:			1em;
}
